.header {
  padding: 1rem;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 1.625rem;
  font-weight: 700;
  opacity: 0.7;
}

.header nav {
  position: absolute;
  z-index: 40;
  background: white;
  left: 0;
  top: 95px;
  padding: 1rem;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
}

.header nav li + li {
	margin-top: 24px;
}

.header nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  opacity: 0.7;
}



@media(min-width:576px) {
  .header nav {
    position: relative;
    z-index: 40;
    background: white;
    left: 0;
    top: 0;
    padding: 0;
    border-bottom: none;
    width: fit-content;
  }
  .header nav ul {
    display: flex;
    align-items: center;

  }
  
  .header nav li + li {
    margin-top: 0;
    margin-left: 40px;
  }
  
  .header nav a {
    font-size: 20px;
    color: black;
    font-weight: 700;
    opacity: 0.7;
  }
  .header nav .active-link {
    text-decoration: underline;
  }
}

