.about {
  padding: 1rem;
}
.about h1 {
  color: #2b2b2b;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content p {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 20px;
	font-weight: 300;
	font-family: Arial, sans-serif;
}

.content a {
  text-decoration: none;
  color: #15c;
  font-weight: 700;
}

.author {
  text-align: center;
}
.author img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.author a {
  color: #2b2b2b;
  font-weight: 700;
  font-size: 1.3rem;
}

.project h2 {
  font-size: 1.3rem;
  color: #2b2b2b;
  line-height: 1.2;
  margin: 30px 0px 20px;
}

.project p {
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 20px;
}
.project p:last-child {
	margin-bottom: 0;
}

.project a {
  border: 2px solid transparent;
  color: #fff;
  background-color: #2b2b2b;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 700;
  width: 200px;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.project a:hover {
  background-color: #fff;
  color: #2b2b2b;
  border: 2px solid #2b2b2b;
}

@media(min-width:576px) {
  .about h1 {
    font-size: 2.5rem;
  }
  
  .content p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: Arial, sans-serif;
  }
  .author a {
    color: #2b2b2b;
    font-weight: 700;
    font-size: 2rem;
  }
  
  .project h2 {
    font-size: 1.5rem;
    color: #2b2b2b;
    line-height: 1.2;
    margin: 30px 0px 20px;
  }
  
  .project p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  .project a {
    border: 2px solid transparent;
    color: #fff;
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 700;
    width: 200px;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}

@media(min-width:992px) {
  .inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
  }
  .author {
    margin-left: 30px;
  }
  .author img {
    width: 400px;
  }
  .content p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: Arial, sans-serif;
  }
}

@media(min-width:1200px) {
  .about {
    padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
  }
  .project h2 {
    font-size: 2.5rem;
    color: #2b2b2b;
    line-height: 1.2;
    margin: 30px 0px 20px;
  }
  
  .project p {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 10px;
  }
  .project a {
    border: 2px solid transparent;
    color: #fff;
    background-color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 700;
    width: 200px;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
  }
}