.home {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin-top: 170px;
}
.header {
	text-align: center;
	font-size: 3rem;
}

@media(min-width:576px) {
	.home {
		margin-top: 200px;
	}
	.header {
		font-size: 4rem;
	}
}